
//
// VARIABLES
//

//
// Colors
//

$blue-faded: #2E688C;
$blue-logo: #0070B5; //medium green 1A604A //
$green-logo: #1A604A;
$blue-bright: #324FA6; //dark green 004E36 //
$green-bright: #004E36;
$blue-dark: #193773;
$blue-navy: #1B2B36;
$blue-black: #222C33;
$red-bright: #A60505;
$red-dark: #8C1B2F;
$black: #2B3033;
$silver: #D9DFE6;
$white: #f9f9f9;

// light, dark theme
$primary: $green-logo, darken($green-logo, 10%);
$secondary: $green-bright, darken($green-bright, 10%);
$tertiary: $red-dark, darken($red-dark, 10%);
$contrast1: $blue-navy, lighten($blue-navy, 10%);
$contrast2: $white, $silver;
$contrast3: $blue-dark, $silver;

$background: $silver, $black;
$foreground: $black, $silver;


//
// Font stacks
//

$kanit: "Kanit", sans-serif;
$dm-sans: "DM Sans", sans-serif;
$dm-serif-display: "DM Serif Display", serif;
$oswald: "Oswald", sans-serif;
